<div class="card" ngDiagramNodeSelected [node]="node()">
  <app-node-header [icon]="def().icon" [label]="data().label" [description]="data().description">
  </app-node-header>

  @if (summary(); as summary) {
    <span class="chip p11">
      @if (summary.icon) {
        <app-node-icon [icon]="summary.icon" />
      }
      {{ summary.label }}
    </span>
  }
</div>

<div class="header-ports">
  @if (!def().isStart) {
    <ng-diagram-port [id]="portIn" type="target" side="left" />
  }
  <ng-diagram-port [id]="portOut" type="source" side="right" />
</div>
